h1 {
  font-size:     72px;
  line-height:   1.5;
  color: #2c3e50;
  font-weight:   100;
}

#container {
  width:  980px;
  margin: 0 auto;
}


.section--purple {
  background-color: #9b59b6;
}

.section--blue {
  background-color: #3498db;
}

.section--green {
  background-color: #2ecc71;
}

#main {
  text-align: center;
}

#more {
  margin: 20px auto 48px;
}
.para-about {
    font-size: 16px;
    padding: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin-left: 5vw;
    background-color: #d7dde5;
}
.card {
    position: relative;
    width: 300px;
    height: 365px;
    margin-right: auto;
    margin-bottom: 20px;
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    perspective: 2000px;
    cursor: pointer;
    border-radius: 0.8em;
    margin-left: -4vw;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}


.work-image {
    height: 31vh;
    width: 22vw;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}
.work-link{
  font-size: 1.8em;
    color: red;
}



.work-discription{
  font-size: 1.4em;
    padding: 5px;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 2em;
    overflow: visible;
    vertical-align: -.125em;
}













body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 8px !important;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}
.full {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 28, 28);
}

.navbar {
  z-index: 9999;
  background-color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
  position: fixed;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-lnk {
  position: absolute;
  bottom: 15px;
}
.navbar>.container-fluid {
    display: -ms-flexbox;
    display: inline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-nav {
    display: -ms-flexbox;
    display: inline;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.btn-lnk0 {
  left: 30px;
}

.btn-lnk1 {
  right: 30px;
}


.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.5rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 500;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 41px;
    font-size: 1.75em;
    font-weight: 500;
}
#twoam {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/coverphoto.jpeg");
  background-position: center center;
  background-size: 28vw 100vh !important;
    background-position-x: 0vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 28, 28);
  color: white;
}

#nav-bar ul li:hover::after {
  width: 100%;
}

#nav-bar ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background: #607D8B;
  width: 0;
  transition: width 0.2s;
}

.max {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 15px;
}

.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  margin-left: 10px;
  margin-right: 10px;
}

#about {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 50px;
    height: 45vw;
}

#about .desc {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.icon-me {
  text-align: center;
  font-size: 7em;
  color: rgba(200, 100, 100, 0.7);
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.30);
}

.icon-contact {
  text-align: center;
  font-size: 7.5em;
  color: rgba(152, 110, 110, 0.4);
  padding-top: 10px;
  padding-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.icon-contact a {
  color: rgba(152, 110, 110, 0.9) !important;
}

#portfolio {
  background-color: #f6f6f6;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 50px;
}

#portfolio .desc {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

#contact {
    width: 100vw;
    height: 77vh;
    background-image: url(http://2am.ninja/img/stars.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
}

.tagline1 {
    font-family: 'lato', sans-serif;
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
    color: #bbb;
    text-align: left;
    padding-top: 165px;
    text-shadow: 1px 1px black;
    margin-left: -10vw;
}
.tagline2 {
    font-family: 'lato', sans-serif;
    font-size: 8em;
    letter-spacing: 7px;
    line-height: 0.95em;
    font-weight: 300;
    color: white;
    font-weight: 400;
    text-align: left;
    text-shadow: 1px 1px black;
    padding-top: 10px;
    margin-left: -10vw;
}

.tagline3a, .tagline3b, .tagline3c {
    font-family: 'courier', sans-serif;
    font-size: 2em;
    font-style: italic;
    color: #666;
    text-align: left;
    line-height: 1em;
    text-shadow: 1px 1px black;
    font-weight: 700;
}

.tagline3a {
  padding-top: 50px;
}

.tagline3b {
  padding-left: 30px;
  margin-left: -10vw;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    padding-left: 26px;
    padding-right: 26px;
}
.line {
  height: 3px;
  width: 100px;
  position: relative;
  top: -12px;
  display: inline-block;
  background-color: #999;
}

.line.about {
  background-color: rgba(0, 0, 0, 0.54);
}

.line.portfolio {
  background-color: rgba(0, 0, 0, 0.54);
}

.line.contact {
  background-color: rgba(255, 255, 255, 0.95);
}

.section-title {
  font-family: 'lato', sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title.about {
  color: rgba(0, 0, 0, 0.54);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.section-title.portfolio {
  color: rgba(0, 0, 0, 0.54);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.section-title.contact {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.99);
}

.section-banner {
    padding-top: 66px;
    padding-bottom: 50px;
}

.project-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 1px;
  color: #666;
  text-align: center;
}

.project-headings {
  font-family: 'Open Sans', sans-serif;
}

.project-body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.project {
  border-width: thin;
  border-color: #ccc;
}

.intro {
  height: 100vh;
  width: 100%;
}

.content {
  vertical-align: middle;
}

/*section {
  width: 100%;
  margin: 0;
  max-width: none;
  background-color: #000;
  height: 100vh;
}*/

#social-footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}

#social-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#social-footer ul li {
  display: inline;
  padding: 0.4em;
}

#social-footer a {
/*  color: #939393 !important; */
  color: white !important;
}

.blacktext {
  color: black;
}

footer {
  width: 100vw;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  background-color: #000;
  opacity: 1;
  z-index: 100;
  a {
    font-weight: 500;
    text-decoration: none;
  }
}

footer {
    width: 100vw;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    padding: 1% 5%;
    text-align: center;
    background-color: #000;
    opacity: 1;
    z-index: 100;
}
footer {
    display: block;
    padding-top: 50px;
    text-align: center;
    color: #ddd;
    font-weight: normal;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    font-size: 2em;
}
a.fa {
  text-decoration: none
}

a:link {
  text-decoration: none !important;
  outline: 0;
}

.fa-stack {
  margin: -2px;
}

.copyright {
  padding-bottom: 0px;
  padding-top: 5px;
  color: #555;
}

#down {
  position: absolute;
  opacity: 0.20;
  left: 50%;
  bottom: 10%;
  cursor: pointer;
}


.highlight {
  opacity: 0.6;
}

.highlight:hover {
  opacity: 1;
}



@media only screen and (max-width: 768px) {
  #contact {
    background-attachment: scroll;
  }

  #twoam {
    background-attachment: scroll;
  }

  .tagline1 {
    font-size: 1.2em;
  }

  .tagline2 {
    font-size: 2.8em;
  }

  .tagline3a, .tagline3b, .tagline3c {
    font-size: 1em;
  }

  .section-title {
    font-size: 2.6em;
  }

  .line {
    height: 2px;
    width: 70px;
    position: relative;
    top: -10px;
    display: inline-block;
    background-color: #666;
  }

  .icon-me {
    font-size: 7.5empx;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .icon-contact {
    font-size: 4.5em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.portfolio-para{
  font-size: 1.4em;
  font-weight: 700;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
    font-size: 3em;
    font-weight: 700;
    padding-left: 33px;
}














#process {
    margin-bottom: 40px;
    overflow-x: hidden;
    height: 100vh;
    /* overflow-y: hidden; */
}
#process .section-heading {
  margin-bottom: 40px;
}

.steps-pane img {
  height: 100px;
  margin-top: 18px;
  -ms-transform: skewX(-15deg);
  /* IE 9 */
  -webkit-transform: skewX(-15deg);
  /* Safari */
  -o-transform: skewX(-15deg);
  /* Standard syntax */
  -moz-transform: skewX(-15deg);
}

.pane-warp {
  height: 140px;
  width: 25px;
  margin-left: 20%;
  margin-top: 20px;
 }

.steps-pane {
  height: 140px;
  width: 150px;
  margin-left: 30px;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.2);
}
.steps-pane:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}.inverted-steps-pane:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.inverted-pane-warp {
  height: 140px;
  width: 25px;
  margin-left: 20%;
  -ms-transform: skewX(-15deg);
  /* IE 9 */
  -webkit-transform: skewX(-15deg);
  /* Safari */
  -o-transform: skewX(-15deg);
  /* Standard syntax */
  -moz-transform: skewX(-15deg);
}

.inverted-steps-pane {
  height: 140px;
  width: 150px;
  background: #bcbcbc;
  margin-left: 30px;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.2);
}

.inverted-steps-pane p {
  -ms-transform: skewX(15deg);
  /* IE 9 */
  -webkit-transform: skewX(15deg);
  /* Safari */
  -o-transform: skewX(15deg);
  /* Standard syntax */
  -moz-transform: skewX(15deg);
  padding: 20px 10px 10px 10px;
}

@media(min-width: 900px) {
  .steps-timeline {
    border-top: 5px double black;
    padding-top: 76px;
    margin-top: 35px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five {
    float: left;
    width: 25%;
    margin-top: -105px;
  }
  .step-wrap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    margin-left: 39%;
    border: 2px solid black;
  }
  .verticle-line {
    position: absolute;
    height: 57px;
    width: 5px;
    margin-left: 10px;
    marker-top: 10px;
  }
  .steps-stops {
    height: 25px;
    width: 25px;
    margin: 11px 10.1px;
    border-radius: 50%;
    background: black;
  }
  .end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 19px;
    margin-left: -10px;
  }
  .inverted-end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 19px;
    margin-left: 23.1%;
  }
}

@media(max-width: 899px) {
  #process .container-fluid {
    width: 50%;
  }
  .steps-timeline {
    border-left: 5px double black;
    margin-left: 35px;
  }
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five {
    margin-left: -25px;
  }
  .step-wrap,
  .steps-stops {
    float: left;
  }
  .steps-timeline {
    border-left: 2px solid $brand-primary;
    margin-left: 30px;
  }
  .pane-warp {
    margin-left: 30%;
  }
  .inverted-pane-warp {
    margin-left: 30%;
  }
  .verticle-line {
    position: absolute;
    width: 125px;
    height: 5px;
    margin-left: 5px;
    margin-top: 10px;
  }
  .steps-stops {
    height: 25px;
    width: 25px;
    margin: 11px 10px;
    border-radius: 50%;
    background: black;
  }
  .step-wrap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    margin-top: 125px;
    margin-left: -2px;
    border: 2px solid black;
  }
  .end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: -11px;
    margin-left: 15px;
  }
  .inverted-end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 280px;
    margin-left: 15px;
  }
}

@media (max-width: 600px) {
  #process .container-fluid {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .verticle-line {
    width: 105px;
  }
}

.back-orange {
  background: black;
}

.back-blue {
  background: rgb(59, 37, 132);
}